<!--div class="modal-container">
  <h3>Nova Tarefa</h3>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)"> 
    <label>
      Nome<input formControlName="name" type="text" [value]="selectedTask.name">
    </label>
    <div>
      <button (click)="onCancel($event)">Cancelar</button>
      <button type="submit">Salvar</button>
    </div>
  </form>
</div>-->

<app-basic-form 
  [title]="title"
  [fields]="fields"
  [data]="data"
  (onCanceled)="onCancel()"
  (onSave)="onSubmit($event)"
  >
</app-basic-form>