html, body {
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
}

.container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container-projects {
    width: 40%;
    margin: 0 0.5rem;
    border: 1px solid rgb(209, 209, 209);
}

.header-projects {
    padding: 0.3em;
    background: rgb(223, 223, 223);
    border-bottom: 1px solid rgb(168, 168, 168);
}

.header-projects button{
    margin: 0.1em;
}

.header-projects h2 {
    padding: 0;
    margin: 0;
}

.container-tasks {
    width: 100%;
    background-color: rgb(235, 235, 235);
    padding: 0.4em;
}

.container-tasks h3 {
    margin: 0;
}

.header-projects {
    display: flex;
    justify-content: space-between;
}

.project {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    position: relative;
}

.project button:first-child,
.tasks button:first-child {
    margin-right: 0.4em;
}

.tasks {
    display: flex;
    justify-content: space-between;
}

.project-name {
    width: 100%;
    padding: 0.6em;
    border: 1px solid transparent;
}

.project-name:hover {
    cursor: pointer;
    border-bottom: 1px solid rgb(209, 209, 209);
    box-shadow: 0 1px 4px #dddddd;
}

.buttons {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}


.btn {
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
}

.btn:hover {
    border-bottom: 1px solid rgb(216, 216, 216);
    color: rgb(1, 118, 228);
    box-shadow: 0 1px 1px rgb(214, 214, 214);
}

.icon {
    width: 16px;
    height: 100%;
    padding: 2px;
}