<app-projects-list></app-projects-list>

<!--<app-project-form 
    *ngIf="showProjectForm"
    [data]="selectedProject"
    (save)="saveProject($event)"
    (hideForm)="hideForm()">
</app-project-form>

<app-task-form 
    *ngIf="showTaskForm"
    [data]="selectedTask"
    (save)="saveTask($event)"
    (hideForm)="hideForm()">
</app-task-form>

<app-alert
    title = "Alerta"
    message="Você tem certeza que quer excluir?"
    confirmButton="true"
    cancelButton="true"
    confirmButtonText="Sim"
    cancelButtonText="Não"
    [isVisible]="isVisibleAlert"
></app-alert>-->