<div class="container">
    <div class="container-projects">
        <div class="header-projects">
            <h2>Projetos</h2>
            <button (click)="newProject()">Novo</button>
        </div>
        <ul>
            <li *ngFor="let project of projects" class="project">
                <div class="project-name"
                    (click)="showTasksOfProject(project)"
                >
                    {{ project.name }}
                </div>
                <div class="buttons">
                    <button class="btn" (click)="editProject(project)">Editar</button>
                    <button class="btn" (click)="deleteProject(project)">Excluir</button>
                </div>
            </li>
        </ul>
    </div>
    <div class="container-tasks">
        <h3>{{ selectedProjectName }}</h3>
        <ul>
            <li *ngFor="let task of tasks" class="tasks">
                <div>{{ task.name }}</div>
                <div>
                    <input type="checkbox">
                    <button (click)="editTask(task)">Editar</button>
                    <button (click)="excluirTask(task)">Excluir</button>
                </div>
            </li>
            
            <button (click)="newTask()">Nova tarefa</button>
        </ul>
    </div>
</div>

<app-project-form 
    *ngIf="showProjectForm"
    [data]="selectedProject"
    (save)="saveProject($event)"
    (hideForm)="hideForm()">
</app-project-form>

<app-task-form 
    *ngIf="showTaskForm"
    [data]="selectedTask"
    (save)="saveTask($event)"
    (hideForm)="hideForm()">
</app-task-form>