<div class="container">
    <div class="container-projects">
        <div class="header-projects">
            <h2>Projetos</h2>
            <button (click)="newProject()">Novo</button>
        </div>
        <ul>
            <li *ngFor="let project of projects">
                {{ project.name }}
                <button>Editar</button>
            </li>
        </ul>
    </div>
    <div class="container-tasks">
        <h3>Nome do projeto</h3>
        <ul>
            <li>Tarefa 01</li>
            <li>Tarefa 02</li>
            <li>Tarefa 03</li>
            <li>Tarefa 04</li>
            <li>Tarefa 05</li>
        </ul>
    </div>
</div>

<app-modal 
    *ngIf="showModal"
    (save)="addNewProject($event)"
    (hideModal)="hideModal()">
</app-modal>